<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <title> Home </title>
        <style>
        </style>
    </head>
<body>
<header>
    <%- include('../partials/header'); %>
      <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Welcome Back to your Personal Vacation Planner!</h1>
    <h4 class="mb-3">Where will you go next?</h4>
  </div>
  <!-- Jumbotron -->
</header>
<!--<a href="/Login"> Login Here</a>-->

<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-mdb-interval="10000">
      <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape"/>
    </div>
</div>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>

