<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
        body {
          font: 20px "Raleway", sans-serif;
          line-height: 1.8;
          color: #f0e4d7;
        }
        p {font-size: 16px;}
        .margin {margin-bottom: 45px;}
        
        .bg-1 { 
            /* The image used */
          background-image: url("https://barnimages.com/wp-content/uploads/2020/01/20200119-barnimages-5.jpg");
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #002521; 
        } 
      
        h1 {
            letter-spacing: 6px;
            text-transform: uppercase;
            font: 70px "Raleway", sans-serif;
            color: rgb(255, 255, 255);
            padding: 10%;
        }
      
        h2 {
          letter-spacing: 5px;
            text-transform: none;
            font: 50px "Raleway", sans-serif;
            color: rgb(0, 0, 0);   
        }
      
        h3 {
          letter-spacing: 5px;
            text-transform: uppercase;
            font: 40px "Raleway", sans-serif;
            color: rgb(0, 0, 0);   
        }
      
        h4 {
          letter-spacing: 5px;
            text-transform: none;
            font: 35px "Raleway", sans-serif;
            color: rgb(0, 0, 0);   
        }
      
        h5 {
          letter-spacing: 5px;
            text-transform: none;
            font: 20px "Raleway", sans-serif;
            color: rgb(0, 0, 0);   
        }
         p {
          letter-spacing: 5px;
            text-transform: none;
            font: 20px "Raleway", sans-serif;
            color: rgb(0, 0, 0);   
         }
      
         li {
          letter-spacing: 4px;
            text-transform: none;
            font: 15px "Raleway", sans-serif;
            color: rgb(0, 0, 0); 
         }


        label {
          letter-spacing: 5px;
          text-transform: none;
          font: 40x "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
        }

        input {
          letter-spacing: 5px;
          text-transform: none;
          font: 20px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
        }

        output {
          letter-spacing: 5px;
          text-transform: none;
          font: 20px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
        }

        button {
          border: 1px solid rgb(0, 0, 0);
          background-color: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
          padding: 12px 28px;
          font: 20px "Raleway", sans-serif;
          letter-spacing: 5px;
          cursor: pointer;
          border-radius: 12px;
        }

        label {
        letter-spacing: 5px;
         text-transform: none;
          font: 20px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
        }

        input {
          letter-spacing: 5px;
          text-transform: none;
          font: 20px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
        }

        output {
          letter-spacing: 5px;
          text-transform: none;
          font: 20px "Raleway", sans-serif;
        color: rgb(0, 0, 0);   
        }

        button {
          border: 1px solid rgb(0, 0, 0);
          background-color: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
          padding: 12px 28px;
          font: 20px "Raleway", sans-serif;
          letter-spacing: 5px;
          cursor: pointer;
          border-radius: 12px;
        }
      
        .bg-2 { 
          background-color: #d7eaf0; 
          color: #000000;
        }
        .bg-3 { 
          background-color: #ffffff; 
        }
        .bg-4 { 
          background-color: #2f2f2f;
          color: #fff;
        }
        .container-fluid {
          padding-top: 70px;
          padding-bottom: 70px;
        }
        .navbar {
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0;
          border-radius: 0;
          margin-bottom: 0;
          font-size: 12px;
          letter-spacing: 5px;
        }
        .navbar-nav  li a:hover {
          color: #002521 !important;
        }
        </style>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <div class="container-fluid bg-1 text-center">
                <br>
                <br>
                <h1 style="padding:2px 6px 4px 6px; color: #ffffff; background-color: #002521;">Vacation Planner</h1>
                <h5 style="padding:2px 6px 4px 6px; color: #ffffff; background-color: #002521;">Thank you for using our travel plainning site! Below you will find an over view of currently planned trips. You can vist the edit page to modify current plans or create a new trip on the create page.</h5>
                <br>
                <br>
                <br>
            </div>
            <div class = "text-center">
              <h2>Currently Planned Trips</h2>
            </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>