<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <title> You're signed out</title>
    </head>
<body>
    <h1>
        Good Bye!
    </h1>
    <footer>
        <%- include('../partials/footer'); %>
      </footer>
</body>
</html>