<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>


<body>
    <form>
        <div class="form-outline mb-4">
          <input type="text" id="name" class="form-control" />
          <label class="form-label" for="form4Example1">Name</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="transportation" class="form-control" />
            <label class="form-label" for="form4Example1">Transportation</label>
          </div>

        <div class="form-outline mb-4">
            <input type="text" id="startDate" class="form-control" />
            <label class="form-label" for="form4Example1">Start Date</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="endDate" class="form-control" />
            <label class="form-label" for="form4Example1">End Date</label>
        </div>
        
        <button type="submit" class="btn btn-primary btn-block mb-4">Add</button>    
        </form>
        <footer>
          <%- include('../partials/footer'); %>
        </footer>
</body>
</html>