<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
</html>
<body>
    <form>
        <input type="text" id="userinputID"
        <label>Insert ID of Trip</label>
        <button class="btn btn-primary" id="dtbtn" type="button">Button</button>
    </form>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>