<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>


<body>
    <form>
        <input type="text" id="userinputID"
        <label>Insert ID of Destination</label>
        <button class="btn btn-primary" id ="ddbtn" type="button">Button</button>
    </form>
    
    <form>
        <div class="form-outline mb-4">
          <input type="text" id="name" class="form-control" />
          <label class="form-label" for="form4Example1">Name</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="country" class="form-control" />
            <label class="form-label" for="form4Example1">Country</label>
          </div>

        <div class="form-outline mb-4">
            <input type="text" id="city" class="form-control" />
            <label class="form-label" for="form4Example1">City</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="sightseeing" class="form-control" />
            <label class="form-label" for="form4Example1">Sight Seeing</label>
        </div>
        
        <button type="submit" class="btn btn-primary btn-block mb-4">Add</button>    
        </form>
        <footer>
          <%- include('../partials/footer'); %>
        </footer>
</body>
</html>